/*

RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*

HEADER

*/
.my-nav{
    background-color: #2C3E50;
}


/*

MAIN

*/

main h1{
    font-size: 3em;
}

.my-star{
    vertical-align: middle;
    font-size: 2em;
}

.my-hr-white{
    border: 2px solid white;
}

.my-hr-black{
    border: 2px solid black;
}
/*

debug

*/


.debug .row>*{
   
}


