/*

RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*

debug

*/

header{
    background-color: aqua;
}

main{
    background-color: crimson;
}

footer{
    background-color: darkorange;
}

.row>*{
    border: 1px dashed black;
}

